[submodule "specifications/json-ld-api"]
	path = specifications/json-ld-api
	url = https://github.com/w3c/json-ld-api.git
[submodule "specifications/json-ld-framing"]
	path = specifications/json-ld-framing
	url = https://github.com/w3c/json-ld-framing.git
