-r ../requirements.txt
typing_extensions
mkdocs-material==9.7.6
mike>=2.1
mkdocs-macros-plugin==1.5.0
mkdocs-awesome-pages-plugin==2.10.1
mkdocstrings[python]>=0.30
requests-cache>=1.3
mkdocs-typer2[mkdocs,termynal]==0.4.1
