name: Main CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python-version:
          - '3.14'
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Use Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install testing dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-test.txt
    - name: Lint
      # FIXME
      continue-on-error: true
      run: |
        flake8 lib/pyld tests --count --show-source --statistics
      env:
        LOADER: ${{ matrix.loader }}
  test:
    runs-on: ubuntu-latest
    needs: [lint]
    timeout-minutes: 10
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
          - 'pypy3.10'
        loader: [requests, aiohttp]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Use Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install testing dependencies
      run: |
        pip install -r requirements-test.txt
    - name: Test with Python=${{ matrix.python-version }} Loader=${{ matrix.loader }}
      run: |
        python tests/runtests.py ./specifications/json-ld-api/tests -l ${{ matrix.loader }}
        python tests/runtests.py ./specifications/json-ld-framing/tests -l ${{ matrix.loader }}
      env:
        LOADER: ${{ matrix.loader }}
  #coverage:
  #  needs: [test]
  # FIXME
