name: Main CI

on: [push]

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v5
      with:
        persist-credentials: false
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: 'pip'
    - name: Install testing dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-test.txt
    - name: Lint
      # FIXME
      continue-on-error: true
      run: |
        flake8 lib/pyld tests --count --show-source --statistics
  test:
    runs-on: ubuntu-latest
    needs: [lint]
    timeout-minutes: 10
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
          - 'pypy3.10'
          - 'pypy3.11'
        loader: [requests, aiohttp]
    steps:
    - uses: actions/checkout@v5
      with:
        persist-credentials: false
    - name: Use Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install testing dependencies
      run: |
        pip install -r requirements-test.txt
    - name: Fetch test suites
      run: |
        git clone --depth 1 https://github.com/w3c/json-ld-api.git _json-ld-api
        git clone --depth 1 https://github.com/w3c/json-ld-framing.git _json-ld-framing
        git clone --depth 1 https://github.com/json-ld/normalization.git _normalization
    - name: Test with Python=${{ matrix.python-version }} Loader=${{ matrix.loader }}
      run: |
        python tests/runtests.py ./_json-ld-api/tests -l ${{ matrix.loader }}
        python tests/runtests.py ./_json-ld-framing/tests -l ${{ matrix.loader }}
        python tests/runtests.py ./_normalization/tests -l ${{ matrix.loader }}
      env:
        LOADER: ${{ matrix.loader }}
  #coverage:
  #  needs: [test]
  # FIXME
