name: Main CI

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
        persist-credentials: false
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: 'pip'
    - name: Install testing dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-test.txt
    - name: Lint
      # FIXME
      continue-on-error: true
      run: |
        flake8 lib/pyld tests --count --show-source --statistics
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
          - 'pypy3.10'
          - 'pypy3.11'
        loader: [requests, aiohttp]
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
        persist-credentials: false
    - name: Use Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install testing dependencies
      run: |
        pip install -r requirements-test.txt
    - name: Test with Python=${{ matrix.python-version }} Loader=${{ matrix.loader }}
      run: |
        pytest --tests=./specifications/json-ld-api/tests --loader=${{ matrix.loader }}
        pytest --tests=./specifications/json-ld-framing/tests --loader=${{ matrix.loader }}
        pytest --tests=./specifications/normalization/tests --loader=${{ matrix.loader }}
      env:
        LOADER: ${{ matrix.loader }}
  #coverage:
  #  needs: [test]
  # FIXME
